__pycache__/
*/__pycache__/

sourcecode/data/*
!sourcecode/data/.gitkeep

.env
.env.*

*.pyc
*.pyo
*.log
.ipynb_checkpoints/

*.mp4
*.avi
*.mov
*.mkv
*.zip
*.rar
*.7z

*.pt
*.pth
*.ckpt
*.bin
*.pkl
*.pickle
*.npy
*.npz
*.faiss
*.index